/* new styles go here */
:root {
    --PrimaryColor: #343236;
    --PrimaryWhite: #e4e1e9;
}

* { box-sizing: border-box; }

body {
    background: url('./images/bg.jpg') repeat repeat;
    background-size: cover;
    color: #2d2d2d;
    font: normal 100% 'Segoe UI', Optima, sans-serif; /* 100% means 16px (usually) */
}

.page {
    width: 960px;
    margin: 24px auto;
}

.blog {
    overflow: auto;
    background: white;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
    width: 900px;
    overflow: auto;
}

main {
    width: 566px;
    padding: 24px;
    float: left;
}

aside {
    width: 331px;
    padding: 24px;
    float: right;
}

.blog-post {
    border-bottom: solid 3px var(--PrimaryColor);
    padding-bottom: 12px;
}

.blog-preview {
    border-top: solid 1px var(--PrimaryColor);
    padding: 12px 0;
}

header {
    background: var(--PrimaryColor);
    padding: 24px;
}

h1 {
    font-size: 1.5em; /* 26 / 16 */
    font-weight: bold;
    color: var(--PrimaryWhite);
    text-transform: uppercase;
}

h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--PrimaryColor);
    margin-bottom: 12px;
}

p {
    margin-bottom: 12px;
}

.lede {
    font-style: italic;
}
